* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.intro {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #f3e2cf;
  transition: 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-header {
  color: #000000;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: -8px;
  margin-bottom: 30px;
}

.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.3s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.3s;
}

.logo-img {
  opacity: 0;
  transform: scale(2.0);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.logo-img.show {
  opacity: 1;
  transform: scale(3.0);
}

.logo-img img {
  width: 280px;
}


